@model CamersOperzalAdmin.Models.Ifns

@{
    ViewBag.Title = "Изменить инспекцию";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.IfnsCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.IfnsCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IfnsCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IfnsName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.IfnsName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IfnsName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Order, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Order)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    
</script>

<hr />
<div>
    @Html.ActionLink("Назад", "Index", "Ifns", new { @class = "btn btn-primary" })
</div>
